h1,h2
{
  text-align: -webkit-center;
  color:orange;
  font-weight: 600px;
  font-style: oblique;

}
.register{

background-image: url("C:/Users/Rishab/Pictures/image.png");


color:white;
}

.reg{

  background-color: rgba(0,0,0,0.5);
  border: solid white 2px;
  border-radius: 10px;
}

.form-control{

  background-color: transparent;
  border: none;
  border-bottom: solid white 2px;
  border-radius: 0px;
  outline:0px;
  }

  .btn-default{

    background-color:orange;
    color:white;
  }
